.photos__delete-button {
  position: absolute;
  width: 18px;
  height: 19px;
  margin: 20px 20px 0 244px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  padding: 0;
  background-image: url(../../../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
  transition: opacity .4s ease-in-out;
}

.photos__delete-button:hover {
  opacity: 0.6;
}

.photos__delete-button:focus {
  opacity: 0.6;
}
