.header {
  max-width: 880px;
  min-height: 74px;
  background-color: #000;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid #545454;
}



@media screen and (max-width: 768px) {
  .header {
    padding: 28px 27px 5px 27px;
    min-height: 56px;
  }
}
